/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.sidebar {
  border: 1px #091719;
  border-style: solid;
	border-top: none;
  height: 826px;
  width: 16%;
  box-sizing: border-box;
  background-color: #091719;
}

.title {
  border: 1px white;
  border-style: solid;
  height: 100px;
  text-align: center;
  background-color: white;
}

.title h1 {
  font-size: 40px;
  font-weight: lighter;
  color: black;
  padding: 10px;
}

.title p {
  color: grey;
  font-size: 10px;
}

.menu {

}

.home-section {
  border: 1px #56555561;
  border-style: solid;
  float: right;
  height: 40px;
  width: 100%;
  text-align: right;
  background-color: #56555561;
}

.home-section:active {
	background-color: #40e0d0c7;
}

.home {
  position: relative;
  top: 12px;
  right: 10px;
  color: white;
  text-decoration: none;
}

.work-secton {
  position: relative;
  top: 25px;
  color: white;
  text-decoration: none;
  border: 1px #56555561;
  border-style: solid;
  height: 40px;
  width: 100%;
  background-color: #56555561;
}

.work {
  position: relative;
  top: -12px;
  right: 10px;
  color: white;
  float: right;
  text-decoration: none;
}

.about-section {
  position: relative;
  top: 8px;
  color: white;
  text-decoration: none;
  border: 1px #56555561;
  border-style: solid;
  height: 40px;
  width: 100%;
  background-color: #56555561;
}

.about {
  position: relative;
  top: 12px;
  right: 10px;
  color: white;
  float: right;
  text-decoration: none;
}

.blog-section {
  position: relative;
  top: -9px;
  color: white;
  text-decoration: none;
  border: 1px #56555561;
  border-style: solid;
  height: 40px;
  width: 100%;
  background-color: #56555561;
}

.blog {
  position: relative;
  top: 12px;
  right: 10px;
  color: white;
  float: right;
  text-decoration: none;
}

.services-section {
  position: relative;
  top: -26px;
  color: white;
  text-decoration: none;
  border: 1px #56555561;
  border-style: solid;
  height: 40px;
  width: 100%;
  background-color: #56555561;
}

.services {
  position: relative;
  top: 12px;
  right: 10px;
  color: white;
  float: right;
  text-decoration: none;
}

.contact-section {
  position: relative;
  top: -43px;
  color: white;
  text-decoration: none;
  border: 1px #56555561;
  border-style: solid;
  height: 40px;
  width: 100%;
  background-color: #56555561;
}

.contact {
  position: relative;
  top: 12px;
  right: 10px;
  color: white;
  float: right;
  text-decoration: none;
}

.sidebar p {
	color: #4bb0a6;
}

.ping {

}

.ping p {
	text-align: center;
  padding: 0px 0px 0px 60px;
  font-size: 20px;
}

.ping img {
	position: absolute;
  left: 12%;
  top: 405px;
  height: 25px;
  width: 25px;
}

.list-option {
	float: right;
  color: white;
  text-align: right;
  padding: 15px 32px 0px 0px;
}

.list-option li {
	color: grey;
  text-align: right;
  font-size: 12px;
  padding: 12px 0px 0px 0px;
}

.all-work {

}

.all-work li {
	color: white;
  padding: 10px 0px;
  font-size: 14px;
}

.social {
	position: absolute;
  top: 650px;
  left: 2%;
}

.social img {
	height: 20px;
  width: 20px;
}

.social ul {
	display: inline-flex;
}

.social li {
	padding: 0px 10px 0px 0px;
}

.copyright {
	position: absolute;
  top: 700px;
  left: 3%;
}

.copyright p {
	font-size: 10px;
  color: grey;
}

/*picture layout*/

/*row one*/

.section-1 {
	border: 1px black;
  border-style: solid;
  height: 28%;
  width: 84%;
  position: absolute;
  top: 0%;
  left: 16%;
}

.brown-suger {
	border: 1px #3e2e24;
  border-style: solid;
  width: 25%;
  height: 100%;
}

.brown-suger img {
	height: 100%;
  width: 100%;
}

.cupcake {
	border: 1px #3e2e24;
  border-style: solid;
  width: 25%;
  height: 100%;
  position: absolute;
  top: 0%;
  left: 25%;
}

.cupcake img {
	height: 100%;
  width: 100%;
}

.white-dishes {
	border: 1px #3e2e24;
  border-style: solid;
  width: 25%;
  height: 100%;
  position: absolute;
  top: 0%;
  left: 50%;
}

.white-dishes img {
	height: 100%;
  width: 100%;
}

.cutting-board {
	border: 1px #3e2e24;
  border-style: solid;
  width: 25%;
  height: 100%;
  position: absolute;
  top: 0%;
  left: 75%;
}

.cutting-board img {
	height: 100%;
  width: 100%;
}

/*row two*/

.section-2 {
	border: 1px black;
  border-style: solid;
  height: 28%;
  width: 84%;
  position: absolute;
  top: 28%;
  left: 16%;
}

.dirt-bike {
	border: 1px #3e2e24;
  border-style: solid;
  width: 25%;
  height: 100%;
  position: absolute;
  top: 0%;
  left: 0%;
}

.dirt-bike img {
	height: 100%;
  width: 100%;
}

.phone {
	border: 1px #3e2e24;
  border-style: solid;
  width: 25%;
  height: 100%;
  position: absolute;
  top: 0%;
  left: 25%;
}

.phone img {
	height: 100%;
  width: 100%;
}

.coin {
	border: 1px #3e2e24;
  border-style: solid;
  width: 25%;
  height: 100%;
  position: absolute;
  top: 0%;
  left: 50%;
}

.coin img {
	height: 100%;
  width: 100%;
}

.dance {
	border: 1px #3e2e24;
  border-style: solid;
  width: 25%;
  height: 100%;
  position: absolute;
  top: 0%;
  left: 75%;
}

.dance img {
	height: 100%;
	width: 100%;
}

.section-3 {
	border: 1px black;
  border-style: solid;
  height: 28%;
  width: 84%;
  position: absolute;
  top: 56%;
  left: 16%;
}

.mellon {
	border: 1px #3e2e24;
  border-style: solid;
  width: 25%;
  height: 100%;
  position: absolute;
  top: 0%;
  left: 0%;
}

.mellon img {
	height: 100%;
	width: 100%;
}

.firework {
	border: 1px #3e2e24;
  border-style: solid;
  width: 25%;
  height: 100%;
  position: absolute;
  top: 0%;
  left: 25%;
}

.firework img {
	height: 100%;
	width: 100%;
}

.glasses {
	border: 1px #3e2e24;
  border-style: solid;
  width: 25%;
  height: 100%;
  position: absolute;
  top: 0%;
  left: 50%;
}

.glasses img {
	height: 100%;
	width: 100%;
}

.snow {
	border: 1px #3e2e24;
  border-style: solid;
  width: 25%;
  height: 100%;
  position: absolute;
  top: 0%;
  left: 75%;
}

.snow img {
	height: 100%;
	width: 100%;
}

.section-4 {
	border: 1px black;
  border-style: solid;
  height: 180px;
  width: 84%;
  position: absolute;
  top: 84%;
  left: 16%;
}

.lemon {
	border: 1px #3e2e24;
  border-style: solid;
  width: 25%;
  height: 100%;
  position: absolute;
  top: 0%;
  left: 0%;
}

.lemon img {
	height: 100%;
	width: 100%;
}

.chess {
	border: 1px #3e2e24;
  border-style: solid;
  width: 25%;
  height: 100%;
  position: absolute;
  top: 0%;
  left: 25%;
}

.chess img {
	height: 100%;
	width: 100%;
}

.office {
	border: 1px #3e2e24;
  border-style: solid;
  width: 25%;
  height: 100%;
  position: absolute;
  top: 0%;
  left: 50%;
}

.office img {
	height: 100%;
	width: 100%;
}

.flower {
	border: 1px #3e2e24;
  border-style: solid;
  width: 25%;
  height: 100%;
  position: absolute;
  top: 0%;
  left: 75%;
}

.flower img {
	height: 100%;
	width: 100%;
}
